!!!5
html
  head
    title Flashcards for Gists
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="./bookmarkletr.js")
  body
    h1 Gist Cards - Flashcards for gists!
    p
      a(href="#not-loaded-yet") GistCards
    ol
      li Click and drag that bookmarklet to your bookmarks bar
      li
        span Go to a gist (that's in   
        a(href="https://github.com/coolaj86/gistcards") the correct format
        span )
      li Click on the GistCards bookmarklets
      li Enjoy!
